.tomato{
    background-color: tomato;
}
.orange{
    background-color: orange;
}
.dodgerBlue{
    background-color: dodgerblue;
}
.mediumSeaGreen{
    background-color: mediumseagreen;
}
.gray{
    background-color: gray;
}
.slateBlue{
    background-color: slateblue;
}
.violet{
    background-color: violet;
}
.lightGray{
    background-color: lightgray;
}

#para1{
    background-color: rgb(7, 46, 1);
    color: rgb(190, 236, 236);
    
}
#para2{
    background-color: rgb(215, 243, 201);
    color: rgb(34, 44, 6);
    border: 2px solid rgb(117, 94, 51);
    border-radius: 6px;
    padding: 10px;
}